{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Buku</title>
<link rel="stylesheet" href="{% static 'css/buku_style.css' %}" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    	$("#cari").keyup(function(){
    		var my_value = $("#cari").val();
    		console.log(my_value);

    		$.ajax({
    			url: 'hasil/?q=' + my_value,
    			success: function(data) {
    				var my_array = data.items;
    				var nomor = "Nomor"
    				var myjudul = "Judul"
    				var mygambar = "Gambar"
    				console.log(my_array);
    				$("#hasil").empty();
    				$("#hasil").append("<tr><th>" + nomor + "</th>" + "<th>" +  myjudul + "</th>" + "<th>" + mygambar + "</th></tr>")
    				for(i = 1; i < my_array.length+1; i++) {
    					var judul = my_array[i-1].volumeInfo.title;
    					var gambar = my_array[i-1].volumeInfo.imageLinks.smallThumbnail;
    					var mylink = my_array[i-1].volumeInfo.infoLink
    					$("#hasil").append("<tr><td>" + i + "</td>" + "<td><a href=" + "'" + mylink + "'"+ ">" + judul + "</a></td>" + "<td>" + "<br><img src=" + gambar + "></td></tr>");
    				}
    			}
    		});
    	});
    });	
    </script>
{% endblock meta %}

{% block content %}
    <div class="dbuku">
    	<br>
	`	<input id="cari" placeholder="Silahkan masukkan kata kunci">
		<br>
		<br>
		<table id="hasil" style="width:80%; text-align: center; margin-left: auto;margin-right: auto;">
		</table>
    </div>
{% endblock content %}
