@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

li, a {
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-color: #24252A;
}

.mynav {
	list-style: none;
}

.mynav li{
	display: inline-block;
	padding: 0px 20px;
}

.mynav li a{
	transition: all 0.3s ease 0s;
}

.mynav li a:hover{
	color: #0088a9;
}
