{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
	<header>
		<nav>
			<ul class="mynav">
				<li><a href="{% url 'main:home' %}">Home</a></li>
				<li><a href="{% url 'main:informasiku' %}">My Information</a></li>
        <li><a href="{% url 'story8:daftar_buku' %}">Daftar Buku</a></li>
			</ul>
		</nav>
	</header>
  {% block content %}
  {% endblock content %}
</body>

</html>
