{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'css/mainstyle.css' %}" />
{% endblock meta %}

{% block content %}
    <div class="container">
	<h1>Hello, ini about</h1>
    </div>
{% endblock content %}
