{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'css/mainstyle.css' %}" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jqurey code -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
	  $(".fa").click(function(){
       // self clicking close
       	if($(this).next(".card-body").hasClass("active")){
       		$(this).next(".card-body").removeClass("active").slideUp()
        	$(this).children("span").removeClass("fa-minus").addClass("fa-plus")
       	}
	  	else{
	   		$(".card .card-body").removeClass("active").slideUp()
	   		$(".card .card-header span").removeClass("fa-minus").addClass("fa-plus");
       		$(this).next(".card-body").addClass("active").slideDown()
       		$(this).children("span").removeClass("fa-plus").addClass("fa-minus")
	  	}
	  })
$('#accordion-button-up').click(function () {
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertBefore(thisAccordion.prev());
    })

    $('#accordion-button-down').click(function () {
        var thisAccordion = $(this).parent().parent().parent();
        thisAccordion.insertAfter(thisAccordion.next());
    })
		
	})
</script>
{% endblock meta %}

{% block content %}
<div class="accordian">

  	  <div class="card">
  	  	  <div class="card-header" id="top1">
  	  	  	 <h3>Aktivitas Saat Ini </h3>
  	  	  	 <span class="fa fa-minus"></span>
  	  	  </div>
  	  	  <div class="card-body active">
  	  	  	<p>Kuliah</p>
			<br>
			<p>Main musik</p>
			<br>
			<p>Membuat program</p>
  	  	  </div>
  	  </div>

  	  <div class="card">
  	  	  <div class="card-header" id="top2">
  	  	  	 <h3>Prestasi</h3>
  	  	  	 <span class="fa fa-plus"></span>
  	  	  </div>
  	  	  <div class="card-body">
  	  	  	<p>Diterima di Universitas Indonesia</p>
			<br>
			<p>Mendapat Gold Medal 3 pada lomba paduan suara Singapur</p>
			<br>
			<p>Mendapat nilai Ujian Nasional yang memuaskan</p>
  	  	  </div>
  	  </div>

  	  <div class="card">
  	  	  <div class="card-header" id="top3">
  	  	  	 <h3>Kepanitiaan</h3>
  	  	  	 <span class="fa fa-plus"></span>
  	  	  </div>
  	  	  <div class="card-body">
  	  	  	<p>Wakil Ketua COOL</p>
			<br>
			<p>Tim pelayanan 3DG, khususnya sebagai singer dan pemain musik</p>
			<br>
			<p>Tim silabus dan mentor DDP0</p>
  	  	  </div>
  	  </div>

	  <div class="card">
  	  	  <div class="card-header" id="top4">
  	  	  	 <h3>Makanan favorit</h3>
  	  	  	 <span class="fa fa-plus"></span>
  	  	  </div>
  	  	  <div class="card-body">
  	  	  	<p>Nasi goreng seafood</p>
			<br>
			<p>Tumis brokoli</p>
			<br>
			<p>Ayam goreng saus tiram</p>
  	  	  </div>
  	    </div>
  </div>
{% endblock content %}
