body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100vw;
  background: #B2DBBF;
}
.container {
  height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordian{
	max-width:600px;
	display: block;
	margin:100px auto;
}

.accordian .card{
	box-shadow: 0px 0px 20px #d3d3d3;
	float: left;
	width: 100%;
}
.accordian .card .card-header h3{
	cursor: pointer;
	color: black;
	position: relative;
	background-color: #F3FFBD;
	margin:0;
	padding:15px 20px;

}
.accordian .card .card-header {
	position: relative;
}
.accordian .card .card-header span{
	position: absolute;
	right:20px;
	top:12px;
	height:25px;
	width:25px;
	color: black;
	background-color: #ffffff;
	border-radius:50%;
	text-align: center;
	line-height:25px;
	font-size:13px;
}

.accordian .card .card-body{
	padding:20px;
}
.accordian .card .card-body{
	display: none;
}
/*open one card by default*/
.accordian .card:nth-child(1) .card-body{
 display: block;
}
.accordian .card .card-body p{
	font-size: 27px;
	line-height: 25px;
	color:#444444;
	margin:0px;
}
